/* Arquiovo CSS que vai conter todos os estilos globais de toda aplicação.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
}

body{
    color: #FFF;
    background: #ebf2f5
}

body, input, button, textarea{
    font: 600 10px Nunito, sans-serif
}